In [1]:
import pandas as pd
# from sklearn.datasets import load_iris
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

In [2]:
df=pd.read_csv('data.csv')

In [3]:
x=df.drop(columns=['Target'])

In [4]:
y=df['Target'].values

In [5]:
model=LinearRegression()

In [6]:
rfe=RFE(model,n_features_to_select=20)
fit=rfe.fit(x,y)

In [7]:
ranking=fit.ranking_

In [8]:
results_df=pd.DataFrame({'Features':x.columns,'Selected':ranking}).sort_values(by='Selected')

In [9]:
results_df

    Features  Selected
42     (2,6)         1
25     (1,7)         1
24     (1,6)         1
29    (1,11)         1
30    (1,12)         1
..       ...       ...
204  (17,18)       187
86    (4,17)       188
123   (7,12)       189
198  (15,19)       190
121   (7,10)       191

[210 rows x 2 columns]

In [10]:
results_df.to_csv("wrapper_result.csv",index=True)